$color: black;

h3 {
	color: $color;
}

h2 {
	color: $color;
}

  %message {
      font-family: sans-serif;
      font-weight: bold;
  }

  .row > div {
      @extend %message;
      background-color: lightblue;
  }

.container {
  h2 {
		font-size: 26px;
  }
  h3 {
      	font-size: 22px;
  }
}